{% extends 'admin_base.html' %}
{% load static %}
{% block content %}

<div class="dashboard">
    <div class="card" style="margin-top:100px; padding:0px 10px 0px 10px ;">
        <div class="baner" style="margin: auto; margin-top:-4%; margin-bottom:20px;">
            <h3 class="text-center" style="font-weight: bold; padding: 10px 10px 10px 10px;"> Add Student</h3>
        </div>
        <form method="post" class="col-8 mt-5" style="margin:auto;">
            {% csrf_token%}

            <div class="form-group">
                <label>Enter name</label>
                <!-- <input type="text" placeholder="Enter name" class="form-control" name="name"
                value="{{n.name}}" required> -->
                <input type="text" placeholder="Enter Name" class="form-control" name="name"required>
            </div>
            <div class="form-group">
                <label>Enter email</label>
                <input type="email" placeholder="Enter Email" class="form-control" required name="email" />
            </div>
            <div class="form-group">
                <label>Enter Password</label>
                <input type="password" placeholder="Enter password" class="form-control" required name="password" />
            </div>
            <div class="form-group">
                <label>Enter Enrollment Number</label>
                    <input type="text" placeholder="Enter Enrollment Number" class="form-control" required name="enrollment" />
            </div>
            
            <div class="form-group">
                <label>Enter Attendance</label>
                <input type="number"   max="12" min="0" placeholder="Enter Attendance" class="form-control" name="attendence" />
            </div>
            <div class="form-group">
                <label>Enter CGPPA</label>
                <input type="number" max="7" min="0" placeholder="Enter CGPPA" class="form-control" name="cgpa" />
            </div>

            <br>
            <input type="submit" class="btn btn-block" value="submit"  />

        </form>
        </br>
    </div>
</div>

{% if s %}
<script>
    alert('{{s}}')
</script>
{% else %}
{% endif %}


            <!-- <div class="viewtabledrd">
                <div class="viewtabledrd">

                <div class="card createtest">
                    <div class="card createtesthear1">
                        <h3 class="createtesttitle" style="font-weight: bold;">&nbsp &nbsp &nbsp Add Student</h3>
                    </div>
                    <div class="createtestform">
                        <form method="POST">
                            {% csrf_token %}
                            <label>Enter name:</label>
                            <input type="text" placeholder="Enter Name" class="testtitle" id="testtitle" name="name"/ required>
                            <label>Enter Email:</label>
                            <input type="email" placeholder="Enter Email" class="totalquestion" id="totalquestion" required name="email" />
                            <label>Enter Enrollment Number:</label>

                            <input type="text" placeholder="Enter Enrollment" class="totalquestion" id="totalquestion" required name="enrollment" />
                            <label>Enter Password</label>
                            <input type="password" placeholder="Enter password" class="totalquestion" id="totalquestion" required name="password" />
   
                            <label>Enter Attendance</label>
                            <input type="number"   max="12" min="0" placeholder="Enter Attendance" class="totalquestion" id="totalquestion" name="attendence" />

                            <label>Enter CGPA</label>
                            <input type="number" max="7" min="0" placeholder="Enter CGPPA" class="totalquestion" id="totalquestion" name="cgpa" />
                            
                            <input type="submit" value="Add Student" />
                        </form>

                    </div>

                </div>
            </div>
        
        {% if s %}
        <script>
            alert('{{s}}')
        </script>
        {% else %}
        {% endif %} -->
    {% endblock %}