{% extends 'admin_base.html' %}
{% load static %}
{% block content %}



<div class="dashboard">
    <div class="card" style="margin-top:100px; padding:0px 10px 0px 10px ;">
        <div class="baner" style="margin: auto; margin-top:-4%; margin-bottom:20px;">
            <h3 class="text-center" style="font-weight: bold; padding: 10px 0px 10px 0px;"> Student Query</h3>
        </div>
        <table class="table table-hover table-striped" id="myTable">
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Student Email</th>
                    <th>Student Phone</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                {% for i in c_form %}
                <tr>
                    <td>{{i.name}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.phone}}</td>
                    <td>{{i.message}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- 
<div class="stdreportdrd">
    <div class="dashboard">
        <div class="card table stdtbl">
            <div class="card studentreport">
                <h3 style="font-weight: bold;">&nbsp &nbsp &nbsp Student Query</h3>
            </div>
            <table>
                <tr>
                    <th>Student Name</th>
                    <th>Student Email</th>
                    <th>Student Phone</th>
                    <th>Message</th>
                </tr>
                {% for i in c_form %}
                <tr>
                    <td>{{i.name}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.phone}}</td>
                    <td>{{i.message}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div> -->

    {% endblock %}